<html>
<head>
    <title>Dummy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <!-- <h1>Expense Tracker</h1>
    
    <input type="text" 
            [(ngModel)]="filters.keyword"
            name="keyword"
            (input)="listExpenses()">
    <select name="sortBy" [(ngModel)]="filters.sortBy" (change)="listExpenses()">
        <option>Name</option>
        <option>Amount</option>
    </select>
    <br/>
    <a routerLink="/addexpense">Add Expense</a>
    <div *ngFor="let expense of expenses">
        <h3>{{expense.expense}}</h3>
        <p>{{expense.amount | currency: 'INR'}}</p>
        <a routerLink="/editexpense/{{expense.id}}">Edit</a>
        <button (click)="deleteExpense(expense.id)">Delete</button>
    </div> -->

    <h1>Expense Tracker</h1>

  <!-- <input type="text" [(ngModel)]="filters.keyword" name="keyword" (input)="filterExpenses()" placeholder="Search expense"> -->
  <!-- <select name="sortBy" [(ngModel)]="filters.sortBy" (change)="listExpenses()">
    <option>Name</option>
    <option>Amount</option>
  </select> -->
  <br/>
  <!-- <a routerLink="/addexpense" id="Add" >Add Expense</a> -->
  <p-toast></p-toast>
  <!-- <table>
    <thead>
      <tr>
        <th (click)="sortExpensesByExpense()">Expense</th>
        <th (click)="sortExpensesByAmount()">Amount</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of filteredExpenses">
        <td>{{expense.expense}}</td>
        <td>{{expense.amount | currency: 'INR'}}</td>
        <td><a routerLink="/editexpense/{{expense.id}}">Edit</a></td>
        <td><button (click)="deleteExpense(expense.id)">Delete</button></td>
      </tr>
    </tbody>
  </table> -->


  <!-- <p-table [value]="filteredExpenses" [sortField]="sortField" [sortOrder]="sortOrder">
    <thead>
    <tr>
        <th p-sortIcon="expense" (click)="sortExpenses('expense')">Expense</th>
        <th p-sortIcon="amount" (click)="sortExpenses('amount')">Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>

    <tbody>
      <tr *ngFor="let expense of filteredExpenses">
        <td>{{expense.expense}}</td>
        <td>{{expense.amount | currency: 'INR'}}</td>
        <td><a routerLink="/editexpense/{{expense.id}}">Edit</a></td>
        <td><button (click)="deleteExpense(expense.id)">Delete</button></td>
    </tr>
    </tbody>
  </p-table> -->
  <!-- <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar> -->
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button> -->
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      <button pButton pRipple [label]="" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedExpenses()" [disabled]="!selectedExpenses || !selectedExpenses.length"></button>
  </ng-template>

  <ng-template pTemplate="right" >
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
      <span class="p-input-icon-left" >
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="filters.keyword" name="keyword" (input)="filterExpenses()" placeholder="search....">
    </span>
       <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>  -->
  </ng-template>
    
  </p-toolbar>
  

  <p-table  #dt [value]="filteredExpenses" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
  [(selection)]="selectedExpenses" [rowHover]="true" dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Manage Expenses</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="filters.keyword" name="keyword" (input)="filterExpenses()" placeholder="search....">
    
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="expense">Expense <p-sortIcon field="expense"></p-sortIcon></th>
          <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
          <th></th>
          <!-- <th>Edit</th>
          <th>Delete</th> -->
          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense>
      <tr>
        <td>
          <p-tableCheckbox [value]="expense"></p-tableCheckbox>
        </td>
        <td>{{expense.expense}}</td>
        <td>{{expense.amount | currency: 'INR'}}</td>
        <!-- <td><a routerLink="/editexpense/{{expense.id}}">Edit</a></td> -->
        <!-- <td><button (click)="confirmDeleteExpense(expense.id) >Delete</button></td> -->
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editExpense(expense)"></button> <span>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDeleteExpense(expense.id)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{expenses ? expenses.length : 0 }} expenses.
      </div>
  </ng-template>
</p-table>
</div>

<!-- <p-dialog header="Add Expense" [(visible)]="expenseDialog" [responsive]="true" [modal]="true" [style]="{ width: '450px' }">
  <form (ngSubmit)="saveExpense()">
    <input type="text" name="expense" [(ngModel)]="expense.expense" placeholder="Enter expense name" />
    <input type="text" name="amount" [(ngModel)]="expense.amount" placeholder="Enter amount" />
    <textarea type="text" name="description" [(ngModel)]="expense.description" placeholder="Enter description"></textarea>

    <button type="submit">Add Expense</button>
    <button type="button" *ngIf="expense.id" (click)="deleteExpense(expense.id)">Delete</button>
  </form>
</p-dialog> -->

<p-dialog
  [(visible)]="expenseDialog"
  [style]="{ width: '450px' }"
  header="Expense Details"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="expense.expense"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !expense.expense"
        >Name is required.</small>
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="expense.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="price">Price</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="expense.amount"
          mode="currency"
          currency="INR"
          locale="en-US"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-outlined"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-raised"
      (click)="saveExpense()"
    ></button>
  </ng-template>
</p-dialog>




<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</body>
</html>
    

