<html>
<head>
    <title>Dummy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="list-expenses.component.css">
</head>
<body>
    <!-- <h1>Expense Tracker</h1>
    
    <input type="text" 
            [(ngModel)]="filters.keyword"
            name="keyword"
            (input)="listExpenses()">
    <select name="sortBy" [(ngModel)]="filters.sortBy" (change)="listExpenses()">
        <option>Name</option>
        <option>Amount</option>
    </select>
    <br/>
    <a routerLink="/addexpense">Add Expense</a>
    <div *ngFor="let expense of expenses">
        <h3>{{expense.expense}}</h3>
        <p>{{expense.amount | currency: 'INR'}}</p>
        <a routerLink="/editexpense/{{expense.id}}">Edit</a>
        <button (click)="deleteExpense(expense.id)">Delete</button>
    </div> -->

    <h1>Expense Tracker</h1>

  <input type="text" [(ngModel)]="filters.keyword" name="keyword" (input)="filterExpenses()" placeholder="Search expense">
  <!-- <select name="sortBy" [(ngModel)]="filters.sortBy" (change)="listExpenses()">
    <option>Name</option>
    <option>Amount</option>
  </select> -->
  <br/>
  <a routerLink="/addexpense" id="Add" >Add Expense</a>

  <!-- <table>
    <thead>
      <tr>
        <th (click)="sortExpensesByExpense()">Expense</th>
        <th (click)="sortExpensesByAmount()">Amount</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of filteredExpenses">
        <td>{{expense.expense}}</td>
        <td>{{expense.amount | currency: 'INR'}}</td>
        <td><a routerLink="/editexpense/{{expense.id}}">Edit</a></td>
        <td><button (click)="deleteExpense(expense.id)">Delete</button></td>
      </tr>
    </tbody>
  </table> -->


  <!-- <p-table [value]="filteredExpenses" [sortField]="sortField" [sortOrder]="sortOrder">
    <thead>
    <tr>
        <th p-sortIcon="expense" (click)="sortExpenses('expense')">Expense</th>
        <th p-sortIcon="amount" (click)="sortExpenses('amount')">Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>

    <tbody>
      <tr *ngFor="let expense of filteredExpenses">
        <td>{{expense.expense}}</td>
        <td>{{expense.amount | currency: 'INR'}}</td>
        <td><a routerLink="/editexpense/{{expense.id}}">Edit</a></td>
        <td><button (click)="deleteExpense(expense.id)">Delete</button></td>
    </tr>
    </tbody>
  </p-table> -->

  <p-table [value]="filteredExpenses">
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="expense">Expense <p-sortIcon field="expense"></p-sortIcon></th>
          <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
          <th>Edit</th>
          <th>Delete</th>
          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense>
      <tr>
        <td>{{expense.expense}}</td>
        <td>{{expense.amount | currency: 'INR'}}</td>
        <td><a routerLink="/editexpense/{{expense.id}}">Edit</a></td>
        <td><button (click)="deleteExpense(expense.id)">Delete</button></td>
      </tr>
    </ng-template>
</p-table>
  
</body>
</html>
    

